@import '../../styles/variables';

.ul-categories {
  list-style: none;
  font-size: $font-size-nav-categories;
  padding: initial;
  margin-top: 16px;
  margin-bottom: 16px;

  li {
    display: inline;
    color: $primary-color-gray;
    padding: 0px;

    &:not(:last-child)::after {
      content: '>';
      margin: 0 0.1rem 0 0.4rem;
    }

    &:last-of-type {
      font-weight: $font-weight-nav-categories-last;
    }
  }
}
