$primary-color-yellow: #ffe600;
$primary-color-dark: #333333;
$primary-color-gray: #999999;
$primary-color-light: #eeeeee;
$primary-color-white: #ffffff;
$secondary-color-blue: #3483fa;

$container-width: 1080px;

$border-radius: 4px;

$font-size-nav-categories: 14px;
$font-weight-nav-categories-last: 600;
$font-size-detail-title: 24px;
$font-size-detail-price: 46px;
$font-size-detail-condition: 14px;
$font-size-detail-title-description: 28px;
$font-size-detail-description: 16px;
$font-size-search-bar-input: 18px;
$font-size-item-list-state: 12px;
$font-size-item-list-title: 18px;
$font-size-item-list-price: 24px;
$font-weight-item-list-title: 300;
$font-weight-item-list-price: 400;

$img-detail-width: 680px;
$img-item-list-width: 180px;