@import '../../styles/variables';

header {
  text-align: center;
  background-color: $primary-color-yellow;
  padding: 0.25rem;

  form {
    width: $container-width;
    display: inline-block;

    input {
      margin: 0.5rem 0rem 0.5rem 2rem;
      width: 85%;
      padding: 10px 15px;
      font-size: $font-size-search-bar-input;
      border-radius: $border-radius 0 0 $border-radius;
      border: 1px solid transparent;
    }

    input:focus-visible {
      outline: $primary-color-white;
    }

    > button {
      border-radius: 0px $border-radius $border-radius 0px;
      padding: 10px 15px;
      font-size: $font-size-search-bar-input;
      border: 1px solid transparent;
    }

    img {
      vertical-align: middle;
    }
  }
}
